<% content_for :head do  -%>
	<meta name="keywords" content="<%=@content_page.tags.join(',')%>" />
<% end -%>
<%= @content_page.body %>
<%= render :partial => 'pages/admin', :locals => { :page => @content_page } -%>
<div style='display:none'><style type='text/css'>@import url('http://css.helium.com/css/widget.css'); </style>

	<object id='helium_widget548'>

		<param name='type' value='full_article100' />

		<param name='category_id' value='***OPTIONAL_TITLE_ID_HERE***' />

	</object><a href='http://www.helium.com'>Helium</a>
</div>
